body {
  background-color: #F2F2F2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
          box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
}

/* Menu */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 15px 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu .menu__item {
  width: 25%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.main-header__logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu a {
  color: #000;
  font-weight: 700;
}

.menu a:hover {
  color: #81B3D2;
}

.menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.menu .menu__item:first-child,
.menu .menu__item:nth-child(4n + 1) {
  padding-left: 40px;
}

.menu .menu__item:nth-child(4n) {
  padding-right: 40px;
}

.menu .menu__item:nth-child(1),
.menu .menu__item:nth-child(2) {
  text-align: left;
}

.menu .menu__item:nth-child(4n-1),
.menu .menu__item:nth-child(4n) {
  text-align: right;
}

.menu .menu-item-current,
.menu .menu-item-current:hover,
.menu .menu-item-current:active {
  color: #766357;
}

/* Landing Main content */
.intro {
  margin: 0;
  padding: 0;
  min-height: 508px;
  background-color: black;
  background: url("../img/hero_bg-bottom.png") no-repeat bottom,
              url("../img/hero_bg.jpg") no-repeat 50% 21%,
              #205778;
}

.intro .intro__welcome {
  display: block;
  margin: 0 auto;
  padding-top: 75px;
}

.lead {
  padding: 47px 0 23px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.lead__define {
  color: #000;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.lead__text {
  margin-top: 22px;
}

/* Features */
.features {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__item {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  font: inherit;
  line-height: 21px;
}

.features__header {
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 23px;
}

.features__header_hero,
.features__header_text {
  color: #fff;
}

.features__text {
  margin-top: 21px;
}

.hero-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-single__about {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  padding: 27px 50px 45px;
  background-color: #81B3D2;
  font: inherit;
  color: #fff;
}

.hero-single__bg {
  width: 800px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.hero-single__bg_real-city {
  background: url("../img/feature_photo-real-city.jpg") no-repeat center/cover,
  #81B3D2;
}

.hero-single__bg_diablo-bridge {
  background: url("../img/feature_photo-diablo-bridge.jpg") no-repeat center/cover,
  #81B3D2;
}

.features__item_grey {
  background-color: #eee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 26px 65px 45px;
  width: 400px;
  max-width: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.features__item_icon {
  width: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 141px 50px 68px 50px;
}

.icon-living {
  background: url("../img/feature_icon-house.svg") no-repeat 50% 60px;
}

.icon-food {
  background: url("../img/feature_icon-food.svg") no-repeat 50% 61px;
}

.icon-gift {
  background: url("../img/feature_icon-gift.svg") no-repeat 50% 56px;
}

/* Booking */
.booking {
  margin: 59px auto 0 auto;
  text-align: center;
  line-height: 24px;
}

.booking__catch {
  font-size: 30px;
}

.booking__text {
  width: 400px;
  margin: 24px auto 0;
}

.booking-header {
  display: block;
  margin: 0 auto;
  font-size: 21px;
  line-height: 26px;
  margin-top: 45px;
  font-weight: 700;
  width: 570px;
  padding: 32px 0 29px;
  color: #fff;
  background-color: #766357;
}

.booking-header:hover {
  background-color: #604E43;
}

.booking-header:active {
  background-color: #503E33;
  color: rgba(255, 255, 255, 0.3);
}

.booking-header__toggle:checked ~ .form-container > .booking-form {
  display: none;
}

.form-container {
  min-height: 472px;
  background: url("../img/map.jpg") no-repeat center/cover,
              #D8D8D8;
}

.booking-form {
  display: block;
  width: 570px;
  padding: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 7px 15px rgba(0, 0, 0, .15);
          box-shadow: 0px 7px 15px rgba(0, 0, 0, .15);
}

.book-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-weight: 700;
}

.book-input label {
  text-align: left;
  margin-right: auto;
}

.book-input input {
  width: 348px;
}

.book-input input:hover {
  background-color: #EBEBEB;
}

.book-input input:focus {
  background-color: #fff;
  border: 2px solid #E5E5E5;
}

.book-input input,
.book-input button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 38px;
  background-color: #F2F2F2;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 0 0 13px;
  outline: none;
  border: 2px solid transparent;
}

.book-input .book-input__date {
  padding-right: 40px;
}

.book-input button {
  width: 38px;
  padding: 0;
  color: #A9A9A9;
  font-size: 22px;
}

.book-input button:hover {
  color: #000;
}

.book-input button:active {
  color: #81B3D2;
}

.two-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.two-columns .book-input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.book-input label[for="children"] {
  padding-left: 50px;
  width: 30px;
}

.book-input__date + .icon-date {
  position: absolute;
  right: 10px;
  width: 38px;
  min-height: 38px;
  border: 0;
  background: none;
}

.icon-date svg {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #A9A9A9;
}

.book-input__date:hover + .icon-date svg {
  fill: #000;
}

.book-input__date:focus + .icon-date svg {
  fill: #81B3D2;
}

.book-input .book-input__quantity {
  width: 38px;
}

.booking-form__button {
  display: block;
  width: 100%;
  margin: 24px 0 0;
  background-color: #81B3D2;
  border: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding: 15px 0;
}

.booking-form__button:hover {
  background-color: #669EC0;
}

.booking-form__button:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, .3);
}

/* Футер */
.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  background-color: #fff;
  padding: 22px 0;
}

.main-footer__hashtag,
.main-footer__social,
.main-footer__copyright {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  text-align: center;
}

.social {
  padding: 0;
}

.social__item {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  margin-right: 1px;
  background-color: #81B3D2;
}

.social__button {
  display: inline-block;
  vertical-align: middle;
  width: 48px;
  height: 48px;
}

.social__button_twitter {
    background: url("../img/social_twitter.svg") no-repeat center,
    #81B3D2;
}

.social__button_facebook {
    background: url("../img/social_fb.svg") no-repeat center,
    #81B3D2;
}

.social__button_youtube {
    background: url("../img/social_youtube.svg") no-repeat center,
    #81B3D2;
}

.social__button:hover {
  background-color: #669EC0;
}

.social__button:active {
  opacity: .3;
}

.main-footer__hashtag {
  font-size: 21px;
  line-height: 26px;
}

.main-footer__copyright {
  padding: 0;
  margin: 0;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.copyright__logo {
  padding-top: 0;
  margin-left: 7px;
  display: inline-block;
  vertical-align: middle;
}

.copyright__logo svg {
  display: block;
  fill: #231F20;
}

.copyright__logo:hover > svg {
  fill: #81B3D2;
}

.copyright__logo:active > svg {
  fill: #BDBBBC;
}

/* Стили страницы отелей */

.filters {
  background: url("../img/filter_bg.jpg") no-repeat 100% 16% / cover,
  #226287;
  padding: 28px 70px 0 80px;
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter {
  list-style: none;
  line-height: 46px;
  position: relative;
  padding: 0;
  margin-top: 12px;
  margin-bottom: 18px;
}

.filter-form fieldset {
  border: none;
  color: #fff;
  margin: 0;
  padding: 0;
}

.filter-form > fieldset {
  -ms-flex-preferred-size: 260px;
      flex-basis: 257px;
}

.filter-form legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter-form__checkboxes legend {
  margin-left: -10px;
}

.filter__option {
  position: relative;
}

.filter__option label {
  padding-left: 32px;
  min-height: 34px;
}

.filter__option label::before {
  display: inline-block;
  vertical-align: middle;
  left: -9px;
  top: 11px;
  position: absolute;
  content: "";
  width: 28px;
  height: 24px;
  background: url("../img/checkbox-off.svg") no-repeat;
}

.filter__input_checkbox:checked ~ label::before {
  background: url("../img/checkbox-on.svg") no-repeat;
}

.filter__input_checkbox:disabled ~ label::before {
  opacity: .3;
}

/* Range slider */
.filter-form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  width: 320px;
  padding: 0;
  margin-left: auto;
}

.filter-form__container fieldset {
  padding: 0;
  margin: 0;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  /* box-sizing: border-box; */
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2px;
  height: 22px;
  background: #ffffff;
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 33px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price
 {
  width: 158px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.min-price {
  padding-left: 65px;
}

.max-price {
  padding-left: 55px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  line-height: 21px;
  background: none;
  border: none;
}

.range-slider {
  position: relative;
  margin-bottom: 32px;
}

.range-slider__scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-slider__bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-slider__toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-slider__toggle:hover {
  background: #1c4f80;
}

.range-slider__toggle_min {
  left: 0;
}

.range-slider__toggle_max {
  left: 79%;
}

.filter__button {
  margin: 0;
  background: transparent;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  text-transform: uppercase;
  padding: 6px 35px;
  margin-left: -10px;
  border: 2px solid #fff;
  /* min-width: 140px; */
}

.filter__button:hover {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
}

/* Сортировка по результатам */
.filter-sort {
  position: relative;
  padding: 30px 0 28px 70px;
  border-bottom: 1px solid #E5E5E5;
}

.sort-type {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sort-type li {
  display: inline;
  margin-right: 30px;
}

.sort-type__item a {
  font-size: 12px;
  line-height: 18px;
  color: #B1B1B1;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

.sort-type__item a:hover {
  color: #81B3D2;
}

.sort-type__item a:active {
  color: #000;
  text-decoration: none;
}

.sort-type .sort-link-current {
  text-decoration: none;
  color: #81B3D2;
}

.filter-sort__found {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.filter-sort__header {
  margin-left: 45px;
  margin-right: 38px;
  font-size: 12px;
  line-height: 18px;
}

.filter-sort__arrows {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 70px;
}

.filter-sort__arrow {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin-left: 10px;
}

.filter-sort__arrow_down svg,
.filter-sort__arrow_up svg {
  display: block;
  fill: #CACACA;
}

.filter-sort__arrow_down:hover svg,
.filter-sort__arrow_up:hover svg {
  fill: #000;
}

.filter-sort__arrow_down:active svg,
.filter-sort__arrow_up:active svg {
  fill: #81B3D2;
}

.filter-sort__arrow_active {
  pointer-events: none;
}

.filter-sort__arrow_active > svg {
  fill: #81B3D2;
}

/* Результаты поиска */

.hotels {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotels__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 72px;
  border-bottom: 1px solid #E5E5E5;
}

.hotel-single__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

.hotel-single__image img {
  width: 100%;
  height: auto;
}

.hotel-single__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hotel-single__descr h3 {
  margin-top: -3px;
  margin-bottom: 2px;
}

.hotel-single__header {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
}

.hotel-single__header:hover {
  color: #81B3D2;
}

.hotel-single__header:active {
  color: #B2B2B2;
}

.hotel-single__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.details__type {
  width: 115px;
}

.hotel-single__buttons {
  margin-top: auto;
  display: inline-block;
  vertical-align: middle;
}

.hotel-single__buttons a {
  display: inline;
  font-weight: 700;
  color: #fff;
  padding: 5px 17px;
  margin-right: 3px;
}

.hotels__button_learn-more {
  background-color: #81B3D2;
}

.hotels__button_learn-more:hover {
  background-color: #669EC0;
}

.hotels__button_learn-more:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, .3);
}

.hotels__button_book {
  background-color: #766357;
}

.hotels__button_book:hover {
  background-color: #604E43;
}

.hotels__button_book:active {
  background-color: #503E33;
  color: rgba(255, 255, 255, .3);
}

.hotel-single__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rating__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rating__stars img {
  margin-left: 3px;
  margin-top: -2px;
}

.rating__hotel-stars {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  padding: 0;
  color: #81B3D2;
  font-size: 24px;
  line-height: 18px;
}

.rating__hotel-stars li {
  display: inline;
  margin-right: -1px;
}

.rating__user-rating {
  margin-bottom: 0;
  background-color: #F2F2F2;
  line-height: 21px;
  padding: 3px 13px;
}
